<div class="social">
  <h4>
    {{#github}}
    <a href="http://github.com/{{github}}"><i class="fa fa-github"></i></a>
    {{/github}}
    {{#email}}
    <a href="mailto:{{email}}"><i class="fa fa-envelope"></i></a>
    {{/email}}
    {{#twitter}}
    <a href="http://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i></a>
    {{/twitter}}
    {{#linkedin}}
    <a href="http://linkedin.com/in/{{linkedin}}"><i class="fa fa-linkedin"></i></a>
    {{/linkedin}}
    {{#stackoverflow}}
    <a href="http://stackoverflow.com/{{stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {{/stackoverflow}}
  </h4>
</div>