<!DOCTYPE html>
<html lang="ja">

<head profile="http://www.w3.org/2005/10/profile">
  {{>site/templates/partial/head.html}}
</head>

<body>
  <div class="outer">
    {{>site/templates/partial/header.html}}
    <div class="page-content">
      <div class="wrapper">
        <article class="post card">
          <div class="card-content">
            <header class="post-header">
              <h1 class="post-title">Posts tagged “{{tag}}”</h1>
            </header>
            <div class="post-content">
              Here you can find posts of specific tag:
            </div>
          </div>
        </article>

        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title">Posts</span>

            {{>site/templates/partial/post-list.html}}

          </div>
          {{>site/templates/partial/pagenation.html}}
        </div>
      </div>
    </div>
    {{>site/templates/partial/footer.html}}
  </div>
</body>